{% load static %}
<!DOCTYPE html>
<html>
    <head>
        
    </head>

    <body>
        
        <div class="fixed-action-btn click-to-toggle">
            <a href = "/menu">
            <img src = "{% static "img/helpBut.png" %}" alt = "helpBut" width = "70 /> 
            </a>
              <i class="add"></i>
            </a>         
            <ul>
                <li><a class="btn-floating btn-danger"><i class="ti-user"></i></a></li>
                <li><a class="btn-floating btn-warning"><i class="ti-settings"></i></a></li>
                <li><a class="btn-floating btn-success"><i class="ti-zoom-in"></i></a></li>
                <li><a class="btn-floating btn-info"><i class="ti-email"></i></a></li>
            </ul>
        </div>
    
       <script src="js/jquery.min.js"></script>
        <script src="js/bootstrap.min.js"></script>
        <script src="js/scripts.js"></script>
        {% block content %} {% endblock%}
</body>
</html>