<head>
	
	{% extends "base_header.html"%}
	
  </head>
{% load static %}
  <body>
	{% block content %}

    	<div id = "div1" class="col-md-11">

		<img src = "{% static "img/formacao-grupos.png"%}" alt = formacao-grupos align = "right"/>
			<br>
			<p>
			<h5 class="text-right">
				<font color = "white">
					Help Board                                                                                                                                                                                    
				</font>
			</h5>

		</div>
	</div>
	<div class="row">
		<div id = "div4"class="col-md-12">
			<h4> <center>
				<font color = "white">
				Inscrição nos Grupos
				</font>
						</h4>
			<p>
			<font color = "white">
				<h6> <center> Como realizar inscrição em um grupo no ambiente Blackboard? <h6>
			</font>
			</p>
			<p>
				<center> <a class="btn" href="http://www.lami.pucpr.br/ajudaEstudante/recursos/InscricaoGrupos.pdf">Link PDF »</a>
			</p>
		</div>
	</div>
	<div class="row">
		<div id = "div4"class="col-md-12">
			<center> <img src="{% static "img/video1.jpg" %}" alt = vide1 width = "500""> <p> 
			<br>
			</br>
	

	{% include "base_footer_avalia.html" %}
	{% include "base_footer.html" %}
	{% endblock%}
  </body>
</html>