
<head>
	
	{% extends "base_header.html"%}
	
  </head>
{% load static %}
  <body>
	{% block content %}
 
				<div id = "div1" class="col-md-6">
			
		</div>
		
		
		<div id = "div1" class="col-md-5"> <br> <p>
		
			<div class="btn-group btn-group-sm" role="group" >
				  
				<button class="btn btn-secondary" type="button" >
					Cursos
				</button> 
				<button class="btn btn-secondary" type="button">
					Comunidades
				</button> 
				<button class="btn btn-secondary" type="button">
					Comunicação
				</button> 
				<button class="btn btn-secondary" type="button">
					Apoio ao Estudante
				</button>
				<button class="btn btn-secondary" type="button">
					Biblioteca
				</button>
			</div>
		</div>
	</div> <br>
	
	<div class="row">
		<div class="col-md-6">
			<table class="table table-sm">
				<thead id = "div6" >
					<tr>
						<th>
							<font color = "white"> Meus Cursos </font>
						</th>
				</thead>
				<tbody id = "div5">
					<tr>
						<td>
							<h6> Cursos em que você está: Aluno </h6>
						</td>
					</tr>
					<tr >
						<td>
							<font color = "#a2293a"> ... </font>
						</td>
					</tr>
					<tr>
						<td>
							<font color = "#a2293a"> ... </font>
						</td>

					</tr>
					<tr>
						<td>
							<font color = "#a2293a"> ... </font>
						</td>
					</tr>
					<tr>
						<td>
							<font color = "#a2293a"> ... </font>
						</td>
					</tr>
				</tbody>
			</table>
		</div>
		<div class="col-md-">
		</div>
		<div class="col-md-6">
			<table class="table table-sm">
				<thead id = "div6">
					<tr>
						<th>
							<font color = "white"> Cursos Abertos </font>
						</th>
				</thead>
				<tbody id = "div5">
					<tr>
						</td>
					</tr>
					<tr >
						<td>
							<font color = "#a2293a"> ... </font>
						</td>
					</tr>
					<tr>
						<td>
							<font color = "#a2293a"> ... </font>
						</td>

					</tr>
					<tr>
						<td>
							<font color = "#a2293a"> ... </font>
						</td>
					</tr>
					<tr>
						<td>
							<font color = "#a2293a"> ... </font>
						</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
	<div class="row">
		<div class="col-md-6">
		</div>
		<div class="col-md-">
		</div>
		<div class="col-md-6">
			<table class="table table-sm">
				<thead id = "div6">
					<tr>
						<th>
							<font color = "white"> Meus Avisos </font>
						</th>
				</thead>
				<tbody id = "div5">
					<tr>
						</td>
					</tr>
					<tr >
						<td>
							<font color = "#a2293a"> ... </font>
						</td>
					</tr>
					<tr>
						<td>
							<font color = "#a2293a"> ... </font>
						</td>

					</tr>
					<tr>
						<td>
							<font color = "#a2293a"> ... </font>
						</td>
					</tr>
					<tr>
						<td>
							<font color = "#a2293a"> ... </font>
						</td>

					</tr>
					<tr>
						<td>
							<font color = "#a2293a"> ... </font>
						</td>

					</tr>
					<tr>
						<td>
							<font color = "#a2293a"> ... </font>
						</td>

					</tr>
					<tr>
						<td>
							<font color = "#a2293a"> ... </font>
						</td>

					</tr>
					<tr>
						<td>
							<font color = "#a2293a"> ... </font>
						</td>

					</tr>
					<tr>
						<td>
							<font color = "#a2293a"> ... </font>
						</td>

					</tr>
					<tr>
						<td>
							<font color = "#a2293a"> ... </font>
						</td>

					</tr>
				</tbody>
			</table>
		</div>
	</div>
	<div class="row">
		<div class="col-md-6">
		</div>
		<div class="col-md-">
		</div>
		<div class="col-md-6">
			<table class="table table-sm">
				<thead id = "div6">
					<tr>
						<th>
							<font color = "white"> Novidades </font>
						</th>
				</thead>
				<tbody id = "div5">
					<tr>
						</td>
					</tr>
					<tr >
						<td>
							<font color = "#a2293a"> ... </font>
						</td>
					</tr>
					<tr>
						<td>
							<font color = "#a2293a"> ... </font>
						</td>

					</tr>
					<tr>
						<td>
							<font color = "#a2293a"> ... </font>
						</td>
					</tr>
					<tr>
						<td>
							<font color = "#a2293a"> ... </font>
						</td>
					</tr>
				</tbody>
			</table>
		</div>
		</div>
	</div>

	{% include "base_footer.html" %}
	{% endblock%}
  </body>
</html>